body{
    background-image: url(assets/images/background/green_grass.jpg);
    padding-top: 50px;
    background-size: 100%;
    background-attachment: fixed;
}
.home{
    background-image: url(assets/images/background/2.jpg);
}
.about{
    background-image: url(assets/images/background/4.jpg);
    background-size: 100% 100%;
}
.examples{
    background-image: url(assets/images/background/2.jpg);
    background-size: 100% 100%;
    color: white;
}
.contacts{
    background-image: url(assets/images/background/4.jpg);
    background-size: 100% 100%;
}
.foto{
    width: 90%;
    margin: 0 auto;
}
.main_page{
    color: white;
}
.footer{
<<<<<<< HEAD
    font-size: 15px;
=======
    font-size: 20px;
>>>>>>> 89616d0f69746c615bc60186b98f94b24a621c78
    color: white;
}
.rating{
    display: flex;
}
.rating-item{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border: 2px solid #7f7f7f;
    cursor: pointer;
    text-align: center;
}
.rating-item.active{
    background-color: #77FFFF;
}
#form0{
    color: black;

}
#log{
    color: white;
    size: 5200px;
}
.links{
    color: gray;
    text-align: left;
}

